
<html lang="ko">

    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <!-- font-awesome CSS -->
      <script src="https://kit.fontawesome.com/727ce840af.js" crossorigin="anonymous"></script>
    
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    
      <!-- 날짜 CDN -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    
      <title> 게시판 만들기</title>
    </head>
    <style>
      .wrap {
        width: 800px;
        margin: auto;
      }
    
      .form-group {
        margin-top: 30px;
      }
    
      .label {
        margin-top: 20px;
      }
    
      .btncls {
        display: flex;
        justify-content: flex-end;
        flex-wrap: nowrap;
        margin-top: 10px;
      }
    
      .btn-primary {
        margin-left: 20px;
      }
    
      .inputPwd {
        width: 200px;
        margin-left: 10px;
        -webkit-text-security: disc;
      }
    </style>
    
    <script>
        const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const boardId = urlParams.get("boardId");
      

       $(document).ready(function () {
         get_detail()
       })
       function get_detail() {
         $.ajax({
           type: "GET",
           url: `api/blogs/${boardId}`,
           data: {},
           dataType: "json",
           success: function (response) {
             let blogsDetail = response["blogs"];
             console.log(blogsDetail);
             
             // //db에 저장된 date moment 포맷으로 변경
             let date = moment(blogsDetail['borderDate']).format('YYYY-MM-DD HH:mm')
             // // console.log(date)
              $("#borderName").text(blogsDetail["title"]);
              $("#borderNick").text(blogsDetail["name"]);
              $("#borderDate").text(date);
              $("#borderContent").text(blogsDetail["comment"]);
           }
         });
       }
    
      function correct(blogsDetail){
            location.href=`/borderCorrect?boardId= ${boardId}`
  }
    
      //삭제 버튼 클릭시 모달 스타트
      function modal_start() {
        $('#cartModal').modal('show');
      };

      function modal_ok() {
        $.ajax({
          type: "GET",
          url: `api/blogs/${boardId}`,
          data: {},
          dataType: "json",
          success: function (response) {
            let bordersInfo = response["blogs"];
            //db에 저장된 비밀번호 가져오기
            let pwd = bordersInfo['password']
            //비밀번호 입력창에 입력한 값과 db로 가져온 pwd를 비교하여 검사
            if (pwd === Number($(borderPwd).val())) {
              console.log(remove())
            }
            else {
              alert("비밀번호가 다릅니다.");
            }
          }
        });
      }
    
          function remove() {
            $.ajax({
              type: "DELETE",
              url: `/api/blogs/${boardId}`,
              data: {},
              dataType: "json",
              success: function(response) {
                if (response["result"] == "success") {
                  location.href="/"
                }
              }
            });
          }
    </script>
    
    <body>
      <div class='wrap'>
        <h1>상세 게시판</h1>
        <div class="form-group">
          <div class="label">
            <label for="exampleFormControlInput1" style="font-weight: bold;">제목 :</label>
            <label id="borderName"></label>
          </div>
          <div class="label">
            <label for="exampleFormControlInput1" style="font-weight: bold;">작성자 :</label>
            <label id="borderNick"></label>
          </div>
          <div class="label">
            <label for="exampleFormControlInput1" style="font-weight: bold;">작성 날짜 : </label>
            <label id="borderDate"></label>
          </div>
          <div class="label">
            <label for="exampleFormControlInput1">내용</label>
            <textarea class="form-control" id="borderContent" type="text" rows="10" readonly></textarea>
          </div>
        </div>
        <div class="btncls">
          <button class="btn btn-primary" type="submit" onclick="correct()">수정</button>
          <button class="btn btn-primary" type="submit" onclick="modal_start()">삭제</button>
        </div>
      </div>
      <div class="modal text-left" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="cartModalLabel">알림</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              비밀번호를 입력하세요
            </div>
            <input class="inputPwd" id="borderPwd" type="password" placeholder="숫자를 입력하세요" />
            <div class="modal-footer">
              <button type="button" class="btn btn-sparta" onclick='modal_ok()' >
                확인
              </button>
              <button type="button" class="btn btn-outline-sparta" data-dismiss="modal">
                취소
              </button>
            </div>
          </div>
        </div>
      </div>
    </body>
    
    </html>